{%extends 'recipe/base.html'%}
{% load static %}
{%block content%}
<!-- Page Features -->
 <div class="row text-center">
    {%for i in allfavour%}
      <div class="col-lg-3 col-md-6 mb-4">
        <div class="card h-100">
          <img class="card-img-top" src="{{i.recipeimage}}" alt=""> 
          <div class="card-body">
            <h4 class="card-title">{{i.recipelabel}}</h4>
            <p class="card-text">{{i.recipeingredientLines}}</p>
             <p class="card-text"><img src="{{i.image_url}}" height="200" width='200'></p>
            <p class="card-text">{% for i in i.recipeingredient1 %} {{i}}<br>{%endfor%}</p>
          </div>
        </div>
      </div>
     {%endfor%}
    </div>
{%endblock%}

