{%extends 'recipe/base.html'%}
{% load static %}
{%block content%}
<div class='form'>
<link rel="stylesheet" type="text/css" href="{% static 'recipe/css/form.css' %}">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
<!-- Page Features -->
  <b>search for recipe you wish</b>
  <form class="example" action="/action_page.php" style="margin:auto; 
  width:60%" method="Post">
    <input type="text" placeholder="Search.." name="search2">
    <button type="submit"><i class="fa fa-search"></i></button>
  </form>
</div>
{%endblock%}