{%load static %}
<!DOCTYPE html>
<html>
<head>
<meta charset="utf-8">
<title>recipe search</title>
<link rel="stylesheet" type="text/css" href="{% static 'css/login.css' %}" />
</head>
<body>
<div class="container">
  <section id="content">
    <form method="post" action="{% url '' %}">
      <h1>Login Form</h1>
      {% csrf_token %}
      <div>
        <input type="email" placeholder="email" required="" id="email" />
      </div>
      <div>
        <input type="password" placeholder="Password" required="" id="password" />
      </div>
      <div>
        <input type="submit" value="Log in" />
        <input type="hidden" name="next" value="{{ next }}"/>
        <a href="#">Lost your password?</a>
        <a href="{% url 'register'%}">Register</a>
      </div>
    </form><!-- form -->
    
  </section><!-- content -->
</div><!-- container -->
</body>
</html>